{{log comment}}
{{#each comment}}
<!-- Comment Card -->

<form class="commentForm">
    <textarea type="text" rows="4" cols="50" id="comment" placeholder="Whats your thoughts on this Article?"></textarea>
    </br>
    <button type="button" class="confirmComment" data-id="{{this.id}}">Post
        comment</button>
    </br>
    <button id="cancelComment" type="reset">Cancel</button>
</form>

<div class="w3-col l10 m9">
    </br>
    <span class="w3-opacity w3-medium">Posted by:{{this.user_id}}</span>
    <p>{{this.comment_text}}</p>
</div>


{{/each}}