<!DOCTYPE html>
<html>

<head>
  <title>AR BLOG</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" type="text/css" href="/public/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Raleway", sans-serif
    }
  </style>
</head>

<body class="w3-light-grey">

  <!-- Navigation bar -->
  <div class="w3-center">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">

      <a href="/" class="w3-bar-item w3-button">HomePage</a>
      <a href="#dashboard" class="w3-bar-item w3-button">My Account</a>
      <!-- Add /logout route, if already logged in. -->
      <a href="/logout" class="w3-bar-item w3-button">LogIn/Logout </a>
    </div>
  </div>
  <!-- Header -->
  <header class="w3-container w3-center w3-padding-32 w3-teal">
    <h1><b>Welcome to The CMS Blog</b></h1>

    <p>Publish <span class="w3-tag w3-bar-item w3-button">articles</span> & <span
        class="w3-tag w3-bar-item w3-button">view posts.</span>
      </br>
      </br>Add your <span class="w3-tag w3-bar-item w3-button">thoughts & opinions!</span> </p>

  </header>
  <!-- container for fixed size centered Content -->
  <div class="w3-content" style="max-width:1400px">

    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">

      <!-- Blog entries -->
      <div class="w3-col l8 s12">
        {{{body}}}
        <!-- END BLOG ENTRIES -->
      </div>
      <!-- END GRID -->
    </div>
    <!-- END Content -->
  </div>
  <hr>
  <!-- Footer -->
  <footer class="w3-container w3-dark-grey" style="padding:32px">
    <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i
        class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <p>Powered by <a href="https://github.com/AR31313" target="_blank">Avi</a></p>
  </footer>
</body>

</html>