:root {
    --primary: #4fa190;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #1b553b;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}